body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

div.books_img img {
    float: left;
    height: 140px;
    width: 100px;
    /*background-image: url("https://images-na.ssl-images-amazon.com/images/I/51tjK8swIOL.jpg");
    */background-size: cover;
    margin-right: 10px;
    background-position:
    top center;
    }

