body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
div.logo img{
  margin-top: -20px;
}
div.container h1{
    margin-top: 100px;
}
.navbar-fixed-top{
    top: 125px;
    border-width: 0 0 0px;
    box-shadow: 0 5px 5px -6px black;
}
.navbar-inverse {
    background-color: #e6e6e6;
}
.navbar-nav>li>a {
    border-bottom: 4px solid #e6e6e6 !important;
}
.navbar-nav>li>a:hover {
    border-bottom: 4px solid #00EBFF !important;
}

ul.nav.navbar-nav {
    margin-top: 4px;
}
